
/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
										3. Global Styles
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

html, body {
  overflow-x:hidden;
}
body {
  overflow:hidden;
  font:400 18px/1.4 'Jura', Helvetica, Arial, sans-serif;
  color:map_get($colors, 'grey');
  background:#fefefe;
  position:relative;

  &.mobile{
    padding-bottom:73px;
  }
}
img, iframe {
  max-width:100%;
}
img {
  height: auto;
}
.clearfix {
  clear:both;
}
.color-light {
  color:#fff;
}

//=====================//
//     CUSTOM-BG start    //
//=====================//
.custom-bg_1{
  background: url('../images/custom-bg_1.jpeg');
  background-size: 680px;
  background-repeat: no-repeat;
  background-position: 75% 100%;
}

.custom-bg_2{
  background: url('../images/blue-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-bg_3{
  background-color: map_get($colors, 'custom_3');
}

.custom-bg_4{
  background-image: url('../images/custom-4.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.custom-bg_5{
  background-image: url('../images/prefooter.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}


//=====================//
//     CUSTOM-BG start    //
//=====================//

#header{
  background: radial-gradient(#557EBB, #013077);
  background: radial-gradient(#619EFB, #0054D4);
  box-shadow: 0px 1px 5px 0px #000;
  padding:8px 0;
  margin-bottom:5px;
}

.logo{
  display: block;
  text-align: center;
  color:#fff;
  max-width: 205px;

  &:hover{
    text-decoration: none;
    color:#fff;
  }

  span{
    display: block;
    font-family: 'RoadRadio';
    font-size: 55px;
    letter-spacing: 2px;
    line-height: 1.0em;

    &:last-child{
      font-size: 10px;
      letter-spacing: .5px;
    }
  }
}

.header-number{
  display: block;
  color: #fff;
  font-size: 30px;
  line-height: 1.2;
  transition: .2s ease-in-out;
  position: relative;
  padding-left:25px;
  float: right;
  margin: 0 0 5px;

  &:hover,
  &:focus{
    color:#fff;

    span{
      transform: scale(1.02);
      //font-weight: 900;
    }
  }

  span{
    display: inline-block;
    transition: .2s ease-in-out;
  }

  i{
    position: absolute;
    top:5px;
    left: 0;
    font-size: 35px;
  }
}

.header-callback{
  display: block;
  color: #fff;
  float: right;
  transition: .2s ease-in-out;
  line-height: 1.4;
  
  &:hover,
  &:focus{
    color: #fff;
    box-shadow: 0 5px 10px -6px #fff;
  }
}

//=====================//
//     HEADER end    //
//=====================//


//=====================//
//     SECTION start   //
//=====================//

.section-block{
  padding:80px 0;
}

h1{
  position: relative;
  padding-left:310px;
  line-height: 1;
  font-weight: 700;
  margin:40px 0 90px;

  span{
    position: absolute;
    left:0;
    top:50%;
    transform: translate(0,-50%);
    font-size: 150px;
  }
}

.description{
  margin-bottom: 90px;
}

.order-button_1{
  margin-bottom: 100px;
  text-align: center;
}

.author-block{
  color: #fff;
  
  img{
    display: block;
    padding: 4px;
    border: 1px solid #fefefe;
    width: 135px;
    float: left;
    margin-right:50px;
  }
  
  p{
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  
  span{
    float: right;
    font-size: 22px;
  }
}

.section-block__title{
  text-align: center;
  margin-bottom: 70px;
  margin-top: 0;
  font-size: 26px;
}

.why-item{
  text-align: center;

  &:hover{
    .icon-block{
      &:after{
        width:0;
      }
    }
  }

  .icon-block{
    width: 120px;
    height: 120px;
    position: relative;
    margin: 50px auto 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;



    &:before{
      content: '';
      top:50%;
      left:50%;
      position: absolute;
      width: 140%;
      height:140%;
      border:6px solid map_get($colors, 'blue');
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: -2;
    }

    &:after{
      content: '';
      position: absolute;
      top:50%;
      left:50%;
      width:140%;
      height:140%;
      transform: translate(-50%, -50%);
      transition: .2s ease-in-out;
      background: map_get($colors, 'custom_3');
      z-index: -1;
    }
  }

  i{
    //display: block;
    //margin-bottom:50px;
    color: map_get($colors, 'blue');
  }

}

.video-block{
  text-align: center;

  iframe{
    margin-bottom: 10px;
  }
}

.video-block__text{
  a{
    display: block;
    margin-bottom: 20px;
  }

  .card{
    text-align: left;
  }
}

.order-text_1{
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
}

.order-button_2{
  text-align: center;
}

.setting-item{
  background: #f9f9f9;
  padding: 20px 15px;
  margin-bottom: 30px;
  height: calc(100% - 30px);
}

.setting-item__title{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.setting-item__desc{
  margin-bottom: 0;
  max-height: 80px;
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;
  transition: .2s ease-in-out;

  a{
    color:#9a9a9a;
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    top: 55px;
    background: linear-gradient(to bottom, rgba(249, 249, 249, 0.8), #f9f9f9);
    width: 100%;
    transition: .2s ease-in-out;

    i{
      transition: .2s ease-in-out;
    }
  }

  &.open{
    a{
      i{
        transform: rotate(180deg);
      }
    }
  }
}

.setting-item__bonus{
  text-align: center;
  margin:50px auto 20px;
  width: 60%;
  font-size: 26px;
}