input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.form-custom{
  max-width:350px;
  margin: auto;
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &.label_color-white{
    label{
      color:#fff;
    }
  }
  .form-item{
    margin-bottom: 20px;

    &:last-child{
      margin-bottom:0;
    }

    .pretty-input{
      position: relative;

      input{
        padding-left:30px;
      }

      i{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0, -50%);
      }
    }

  }

  label{
    margin-bottom:4px;
    display: block;
  }

  input{
    width:100%;
  }

  .form-button{
    margin: 40px 0 0;
    text-align: center;

    .button{
      padding: 20px;
      width: 100%;
    }
  }
}

.confidential{
  margin: 20px 0 0;
  text-align: center;
  color: #fff;
  font-size: 14px;

  i{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  a{
    display: inline-block;
    vertical-align: middle;
    color: #fff;

    &:hover{
      text-decoration: underline;
    }
  }
}