@media (max-width: 992px) {
  #header .logo {
    padding: 0;
  }

  .custom-bg_1 {
    background-size: 310px;
    background-position: 100% 100%;
  }

  .first-screen{
    padding: 40px 0;
    text-align: center;

    h1{
      font-size: 26px;
      text-align: left;
      padding-left: 210px;
      //margin-bottom: 20px !important;

      span {
        font-size: 98px;
      }
    }
  }

  .video-wrapper {
    iframe {
      top: 36px;
    }
  }

  .guarantee{
    background: #fff;
  }

  .guarantee-left,
  .guarantee-right {
    padding: 40px 15px;
  }

  .custom-accordion {
    #accordion {
      width: 100%;
      margin: 0 auto;
      border: 4px solid #619efb;
      height: auto;
      padding:30px;
    }

    .card-header {
      position: relative;
      top: auto;
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
      z-index: 0;

      a{
        &:before{
          display: none;
        }
      }


    }

    .card{
      position: relative;

      &:nth-child(3) .card-header,
      &:nth-child(4) .card-header,
      &:nth-child(5) .card-header,
      &:nth-child(6) .card-header,
      &:nth-child(7) .card-header,
      &:nth-child(8) .card-header{
        top:auto;
      }

      &:nth-child(2n+1){
        .card-header{
          left:auto;
        }
      }

      &:nth-child(2n) {
        .card-header {
          right: auto;
          text-align: left;
        }
      }
    }


    .collapse {
      .card-block {
        max-height: 100%;
        overflow: auto;
        height: auto;
        padding: 10px 0px 30px;
      }
    }
  }



}