$main-color: #004a80;
$accent-color: #b0a635;
$white: #fff;
$grey: darken($white, 40%);
$black: #000;
$dark-color: #212123;
$red-color: #d22;

$youtube-color: #bb0000;
$twitter-color: #00aced;
$facebook-color: #3b5998;
$instagramm-color: #517fa4;


$colors: (
        'pink': #9013FE,
        'blue': #275993,
        'grey': #4a4a4a,
        'border-grey': #979797,
        'h-color': #000,
        'features-post-title': #000
);