@import '../libs/bootstrap/dist/css/bootstrap';
@import '../libs/OwlCarousel2/dist/assets/owl.carousel';
@import '../libs/components-font-awesome/css/font-awesome';
@import '../libs/seiyria-bootstrap-slider/dist/css/bootstrap-slider';